# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2024 F&S Elektronik Systeme GmbH
# 
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
# 

BOOT_FROM SD 0x400
SOC_TYPE IMX9
SHA_HASH 256
CONTAINER

# USE TAB AS DELIMITER!
# WARNING: BOARD-CFG uses 8k init space in OCRAM. The size of 8K must not be exceeded.
DATA	A35	board/F+S/fsimx93/nboot/PCore93-FERT2.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/PCore93-FERT3.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/PCore93-FERT4.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/PCore93-FERT5.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/PCore93-FERT6.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/OSM93-FERT1.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/OSM93-FERT2.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/OSM93-FERT21.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/OSM93-FERT22.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
DATA	A35	board/F+S/fsimx93/nboot/OSM93-FERT23.fs	0x20498000  # CFG_FUS_BOARDCFG_ADDR
