# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2024 F&S Elektronik Systeme GmbH
# 
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
# 


BOOT_FROM SD 0x400
SOC_TYPE IMX9
SHA_HASH 256
APPEND board/F+S/NXP-Firmware/mx93a1-ahab-container.img
CONTAINER

# USE TAB AS DELIMITER!
DATA	A35	board/F+S/fsimx93/nboot/boot-index.fs	0x2049A000
IMAGE	A35	spl/u-boot-spl.bin	0x2049A000
