if TARGET_FSIMX93

config SYS_BOARD
	default "fsimx93"

config SYS_VENDOR
	default "F+S"

config SYS_CONFIG_NAME
	default "fsimx93"

config FUS_BOOTCNTR_CONFIG
	string "config file"
	default "boot_cntr.cfg"
	help
	 Configuration file to create Boot Container.
	 Images like U-Boot SPL, ELE_FW, M33_images are part of BOOTCNTR

config FUS_UBOOTCNTR_CONFIG
	string "config file"
	default "bl31-bl33.cfg"
	help
	 Configuration file to create a Container with all BL3x Images

# config SPL_FUS_DRAM_TIMING_ADDR
# 	hex "DRAM Timing Address"
# 	default 0x204E0000
# 	help
# 	 Base address for a FSHDR + DDR Timing struct

# config SPL_FUS_DRAM_FW_ADDR
# 	hex "DRAM FW Address"
# 	default 0x204C0000
# 	help
# 	 Base address for a FSHDR + DDR Firmware file.
# 	 DDR FW should be copied to _end of SPL.

# config FUS_BOARDCFG_ADDR
# 	hex "BOARD-CFG Address"
# 	default 0x20498000
# 	help
# 		Base address for FSHDR + BOARD-CFG fdt.

config FUS_SPL_EARLY_BUFFER
	hex "Buffer for early usage"
	default 0x2051c000
	help
		Base address for EARLY Buffer
		Do only use this address, when dram is not initialized

config FUS_SPL_EARLY_BUFFER_SIZE
	hex "MAX BUFFER SIZE FOR EARLY USAGE"
	default 0x4000
	help
		

endif # TARGET_FSIMX93
