if TARGET_FSIMX93

config FSIMX_BOARDS
	bool
	default y

config SYS_BOARD
	default "fsimx93"

config SYS_VENDOR
	default "F+S"

config SYS_CONFIG_NAME
	default "fsimx93"

config FUS_BOOTCNTR_CONFIG
	string "config file"
	default "boot_cntr.cfg"
	help
	 Configuration file to create Boot Container.
	 Images like U-Boot SPL, ELE_FW, M33_images are part of BOOTCNTR

config FUS_UBOOTCNTR_CONFIG
	string "config file"
	default "bl31-bl33.cfg"
	help
	 Configuration file to create a Container with all BL3x Images

endif # TARGET_FSIMX93

source "board/F+S/common/Kconfig"
