# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2024 F&S Elektronik Systeme GmbH
# 
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
# 

BOOT_FROM SD 0x400
SOC_TYPE IMX9
SHA_HASH 256
CONTAINER

# USE TAB AS DELIMITER!
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_fw.fs	0x204C0000  # SPL_FUS_DRAM_FW_ADDR
# DRAM-FW needs 82*1024 Bytes at &_end (_end~= 0x204b5448)
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_pc_1g3200m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_pc_2g3200m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_osm_1g3200m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_osm_1g3733m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_osm_2g3733m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_ef_1g3200m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_ef_1g3733m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx93/nboot/lpddr4_ef_2g3733m1ch1cs_timing.fs	0x204dc000 # SPL_FUS_DRAM_TIMING_ADDR
