# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2025 F&S Elektronik Systeme GmbH
# 
# mkimage configuration file for UBOOT.
#
# The following simplifications can be used for the path:
#
#   $(obj):  Will be replaced with the object path in the build directory
#   $(src):  Will be replaced with the source path in the source tree
#   $(nxp):  Will be replaced with the NXP firmware path in the source tree
#
# All files under $(obj) have to be created by Makefile rules.

BOOT_FROM SD 0x400
SOC_TYPE IMX9
SHA_HASH 256
CONTAINER

# List of files to include in container.
#
# The filenames must use the following pattern:
#
#   <descr>_<type>.<ext>
#
# <descr>: Will be used as description in the F&S header (exception: no
#          description is set in the INDEX file).
# <type>:  Will be used as type in the F&S header.
# <ext>:   Typically "fs" for regular F&S image, "fsi" for indexed F&S image.
#
# Used addresses:
# 0xa0000000: Somewhere far away in DRAM (offset 512MB). Temporary address
#             where the INDEX is loaded to.
# 0x204e0000: CFG_SPL_ATF_ADDR. Address in OCRAM where ATF is loaded to.
# 0x96000000: CFG_SPL_TEE_ADDR. Address in DRAM where opTEE is loaded to.
# 0x80200000: CONFIG_TEXT_BASE. Address in DRAM where U-Boot is loaded to.

DATA	A35	$(obj)/uboot_INDEX.fs		0xa0000000
IMAGE	A35	$(obj)/fsimx93_ATF.fsi		0x204e0000
IMAGE	A35	$(obj)/fsimx93_TEE.fsi		0x96000000
IMAGE	A35	$(obj)/fsimx93_UBOOT.fsi	0x80200000 
