if TARGET_FSIMX8MP

config SYS_BOARD
	default "fsimx8mp"

config SYS_VENDOR
	default "F+S"

config SYS_CONFIG_NAME
	default "fsimx8mp"

config ATF_ADDR
	hex
	default 0x00968000

config TEE_ADDR
	hex
	default 0x56000000

endif
