# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2024 F&S Elektronik Systeme GmbH
# 
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
# 

BOOT_FROM SD 0x400
SOC_TYPE ULP
SHA_HASH 256
CONTAINER

# USE TAB AS DELIMITER!
# WARNING: BOARD-CFG uses 8k init space in OCRAM. The size of 8K must not be exceeded.
DATA	A35	board/F+S/fsimx8ulp/nboot/PCoreMX8ULP-FERT1.fs	0x22048000
DATA	A35	board/F+S/fsimx8ulp/nboot/PCoreMX8ULP-FERT2.fs	0x22048000
DATA	A35	board/F+S/fsimx8ulp/nboot/PCoreMX8ULP-FERT5.fs	0x22048000
DATA	A35	board/F+S/fsimx8ulp/nboot/OSM8ULP-FERT1.fs	0x22048000
DATA	A35	board/F+S/fsimx8ulp/nboot/SCore8ULP-FERT1.fs	0x22048000
