# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2024 F&S Elektronik Systeme GmbH
# 
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
# 


BOOT_FROM SD 0x400
SOC_TYPE ULP
SHA_HASH 256
APPEND board/F+S/NXP-Firmware/fsimx8ulp/mx8ulpa2-ahab-container.img
CONTAINER

# USE TAB AS DELIMITER!
IMAGE	UPOWER	board/F+S/NXP-Firmware/upower.bin
IMAGE	M33	board/F+S/NXP-Firmware/m33_image.bin	0x1ffc2000
IMAGE	A35	spl/u-boot-spl.bin	0x22020000
