if TARGET_FSIMX8ULP

config SYS_BOARD
	default "fsimx8ulp"

config SYS_VENDOR
	default "F+S"

config SYS_CONFIG_NAME
	default "fsimx8ulp"

config PICOCOREMX8ULP
	bool "Board is PicoCoreMX8ULP"

config SOLDERCORE8ULP
	bool "Board is SolderCore8ULP"

config PICOCOREMX8ULP_LPDDR4_NANYA_2GBYTE
	bool "Use DRAM Timings for NANYA 2GByte Dies"
	depends on PICOCOREMX8ULP && !SOLDERCORE8ULP

config SOLDERCORE8ULP_LPDDR4_FORESEE_1GBYTE
	bool "Use DRAM Timings for FORSEE, SAMSUNG, Micron 1GByte Dies"
	depends on SOLDERCORE8ULP && !PICOCOREMX8ULP
 
endif
