# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2024 F&S Elektronik Systeme GmbH
# 
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
# 

BOOT_FROM SD 0x400
SOC_TYPE ULP
SHA_HASH 256
CONTAINER

# USE TAB AS DELIMITER!
DATA	A35	board/F+S/fsimx8ulp/nboot/lpddr4_pc_2g1056m2ch1cs_timing.fs	0x22050000 # SPL_FUS_DRAM_TIMING_ADDR
DATA	A35	board/F+S/fsimx8ulp/nboot/lpddr4_sc_1g1056m2ch1cs_timing.fs	0x22050000 # SPL_FUS_DRAM_TIMING_ADDR
