if TARGET_FSGAL

config SYS_BOARD
	default "fsgal"

config SYS_VENDOR
	default "F+S"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "fsgal"

config TEXT_BASE
	default 0x96000000 if SD_BOOT || EMMC_BOOT
	default 0x82000000 if TFABOOT
	default 0x20100000

config FUS_FORCE_BOOTDELAY
	bool "force bootdelay"
	default n
	help
		If enabled, bootdelay defined in configs/<board>_defconfig keeps it value,
		even during chain of trust. Use this setting only for debug purpose.

endif
