// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * F&S Elektronik Systeme GmbH device tree source
 *
 * Copyright 2022 F&S Elektronik Systeme GmbH
 *
 */

/dts-v1/;

#include "fsl-ls1028a.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
    model = "F&S GAL Series";
	compatible = "fus,gal1", "fsl,ls1028a";
	aliases {
		crypto = &crypto;
		serial0 = &duart0;
		serial1 = &duart1;
		mmc0 = &esdhc;
		mmc1 = &esdhc1;
		rtc1 = &ftm_alarm0;
		spi0 = &fspi;
		eth0 = &enetc_port0;
		eth1 = &enetc_port1;
		eth2 = &enetc_port2;
		eth3 = &mscc_felix_port0;
		eth4 = &mscc_felix_port1;
		eth5 = &mscc_felix_port2;
		eth6 = &mscc_felix_port3;
		eth7 = &enetc_port3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x4000000>;
	};

	regulator {
		reg_usb1: usb1_pwr {
			compatible = "regulator-fixed";
			regulator-name = "USB1_PWR";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio3 18 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
		};
	};

	esdhc1_pwrseq: emmc_pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio4 1 (GPIO_ACTIVE_LOW|GPIO_OPEN_DRAIN)>;
	};
};


&esdhc {
	is-sdcard;
	status = "okay";
};

&esdhc1 {
	is-emmc;
	status = "okay";
	mmc-hs200-1_8v;
	mmc-pwrseq = <&esdhc1_pwrseq>;
};

&i2c0 {
	status = "okay";
	
	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};

	gpio4: pca6524@22 {
		/* extern GPIO controller */
		compatible = "nxp,pcal6524";
		reg  = <0x22>;
		interrupt-parent = <&gpio2>;
		interrupts = <6 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};
};

&duart0 {
	/* serial0 -> UART1 */
	status = "okay";
};

&usb0 {
	/* intern USB */
	status = "okay";
};

&usb1 {
	/* M.2 */
	status = "okay";
};

&enetc_port0 {
	/* SFP Connector */
	status = "okay";
	phy-mode = "sgmii";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&enetc_port1 {
	/* internal Ethernet */
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&rgmii_phy1>;
};

&enetc_port2 {
	/* TSN-Switch swp4 */
	status = "okay";
};

&enetc_port3 {
	/* TSN-Switch swp5 */
	status="disabled";
};

/* TSN-Switch */
mscc_felix_ports: &mscc_felix {
	status = "okay";
};

&mscc_felix_port0 {
	label = "swp0";
	phy-handle = <&sw_phy0>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port1 {
	label = "swp1";
	phy-handle = <&sw_phy1>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port2 {
	label = "swp2";
	phy-handle = <&sw_phy2>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port3 {
	label = "swp3";
	phy-handle = <&sw_phy3>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port4 {
	ethernet = <&enetc_port2>;
	status = "okay";
};

&mscc_felix_port5 {
	ethernet = <&enetc_port3>;
	/* Enable it to use Control Port for TSN-Switch */
	status = "disable";
};

&enetc_mdio_pf3 {
	status = "okay";

	rgmii_phy1: phy@1 {
		reg = <1>;
		interrupt-parent = <&gpio4>;
		interrupts = <20 IRQ_TYPE_EDGE_RISING>;
		reset-gpios = <&gpio4 19 GPIO_ACTIVE_HIGH>;
	};

	/* VSC8514 QSGMII PHY */
	sw_phy0: phy@10 {
		reg = <0x10>;
	};

	sw_phy1: phy@11 {
		reg = <0x11>;
	};

	sw_phy2: phy@12 {
		reg = <0x12>;
	};

	sw_phy3: phy@13 {
		reg = <0x13>;
	};
};

&lpuart0 {
	status = "okay";
};
