// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * F&S Elektronik Systeme GmbH device tree source
 *
 * Copyright 2022 F&S Elektronik Systeme GmbH
 *
 */

/dts-v1/;

#include "fsl-ls1028a.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
    model = "F&S GAL Series";
	compatible = "fus,gal1", "fsl,ls1028a";
	aliases {
		spi0 = &fspi;
		eth0 = &enetc0;
		eth1 = &enetc1;
		eth2 = &enetc2;
		eth3 = &mscc_felix_port0;
		eth4 = &mscc_felix_port1;
		eth5 = &mscc_felix_port2;
		eth6 = &mscc_felix_port3;
		eth7 = &enetc6;
	};

	regulator {
		reg_usb1: usb1_pwr {
			compatible = "regulator-fixed";
			regulator-name = "USB1_PWR";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio2 18 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-always-on;
		};
	};
};

esdhc: &esdhc0 {
	is-sdcard;
	status = "okay";
};

&esdhc1 {
	is-emmc;
	status = "okay";
	mmc-hs200-1_8v;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c4 {
	status = "okay";
	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};
};

&serial0 {
	/* serial0 -> UART1 */
	status = "okay";
};

&usb1 {
	/* intern USB */
	status = "okay";
};

&usb2 {
	/* M.2 */
	status = "okay";
};

enetc_port0: &enetc0 {
	/* SFP Connector */
	status = "okay";
	phy-mode = "sgmii";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

enetc_port1: &enetc1 {
	/* internal Ethernet */
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&rdb_phy1>;
};

enetc_port2: &enetc2 {
	/* TSN-Switch swp4 */
	status = "okay";
};

enetc_port3: &enetc6 {
	/* TSN-Switch swp5 */
	status="disabled";
};

/* TSN-Switch */
mscc_felix_ports: &mscc_felix {
	status = "okay";
};

&mscc_felix_port0 {
	label = "swp0";
	phy-handle = <&sw_phy0>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port1 {
	label = "swp1";
	phy-handle = <&sw_phy1>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port2 {
	label = "swp2";
	phy-handle = <&sw_phy2>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port3 {
	label = "swp3";
	phy-handle = <&sw_phy3>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port4 {
	ethernet = <&enetc2>;
	status = "okay";
};

&mscc_felix_port5 {
	ethernet = <&enetc6>;
	status = "okay";
};

&mdio0 {
	status = "okay";

	rdb_phy1: phy@1 {
		reg = <1>;
	};

	/* VSC8514 QSGMII PHY */
	sw_phy0: phy@10 {
		reg = <0x10>;
	};

	sw_phy1: phy@11 {
		reg = <0x11>;
	};

	sw_phy2: phy@12 {
		reg = <0x12>;
	};

	sw_phy3: phy@13 {
		reg = <0x13>;
	};
};



