/*
 * Copyright (C) 2024 F&S Elektronik Systeme GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#define CONFIG_PICOCOREMX8ULP_EMMC
#define CONFIG_PICOCOREMX8ULP_ETH_A
#define CONFIG_PICOCOREMX8ULP_I2C_A
#define CONFIG_PICOCOREMX8ULP_I2C_B
#define CONFIG_PICOCOREMX8ULP_I2C_INT
#define CONFIG_PICOCOREMX8ULP_SD_A
#define CONFIG_PICOCOREMX8ULP_SD_A_CD
#define CONFIG_PICOCOREMX8ULP_SD_A_WP
#define CONFIG_PICOCOREMX8ULP_SPI_A
#define CONFIG_PICOCOREMX8ULP_UART_A
#define CONFIG_PICOCOREMX8ULP_UART_C
#define CONFIG_PICOCOREMX8ULP_USB_HOST
#define CONFIG_PICOCOREMX8ULP_USB_OTG

#include "fsimx8ulp.dtsi"

/ {
	model = "F&S PicoCoreMX8ULP";
	compatible = "fus,picocoremx8ulp", "fus,fsimx8ulp", "fsl,imx8ulp";
};
