# SPDX-License-Identifier: GPL-2.0+
# 
# Copyright 2024 F&S Elektronik Systeme GmbH
# 
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
# 
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
# 

BOOT_FROM SD 0x400
SOC_TYPE IMX9
SHA_HASH 256
CONTAINER

# USE TAB AS DELIMITER!
DATA	A35	board/F+S/fsimx91/uboot-index.fs	0xa0000000
IMAGE	A35	board/F+S/NXP-Firmware/bl31-optee.bin	0x204E0000
IMAGE	A35	board/F+S/NXP-Firmware/bl32.bin	0x96000000
IMAGE	A35	u-boot.bin	0x80200000 
